.header > .openlmis-header > .title,
.header > .openlmis-header.is-offline > .title {
  background-image: url('../assets/branding-zm/logo.png');
  background-size: 53px;
  text-indent: 0px;
  overflow: visible;
  padding: 5px;
  padding-left: 60px;
}

.navbar {
  min-height: 55px !important;
}

header>.navbar .navbar-right {
  margin-bottom: 0.65em;
}

.openlmis-header > .title, .status-message > header.openlmis-header > .status {
  height: 45px !important;
}

.header > .openlmis-header.is-offline > .title {
  color: $white;
}
.auth-modal .modal-body {
  background-image: url('../assets/branding-zm/logo.png') !important;
  background-size: auto !important;
  background-position: $space-size*2 -20px !important;
  min-height: 258px + $space-size !important;
}
