.admin-data-import {
    flex: 1 auto;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 16px;
    }

    #header-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      text-align: center;
      padding: 1rem 0;
      height: 24px;
    }

    .field-full-width {
      width: 544px;

      select {
        width: 544px;
        vertical-align: middle;
      }
    }

    .required label:after {
      color: #e32;
      content: " *";
      display:inline;
    }

    .page-for-import {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      margin: 1em;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75);
      border: 0;
      background: #ffffff;
      padding: 1em 2em;
    }
}

option:hover{background-color:yellow;}

.fileUpload {
  width: 544px;
  box-shadow: inset 0 0 0.5em #bebebe;
  border: solid 1px #D9D9D9;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  display: flex;
  align-items: center;

}

input::file-selector-button {
  box-shadow: none;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
}

.file-upload-button {
  display: block;
  padding: 8px 16px;
  border-radius: 4px;
  border-top: #e4e4e4 1px solid;
  border-right: #e4e4e4 1px solid;
  border-left: #e4e4e4 1px solid;
  border-bottom: #e4e4e4 1px solid;
  color: #333333;
  text-shadow: 0 0 0.1em #ffffff;
  background: #e4e4e4 linear-gradient(to bottom, #fefefe, #f1f1f1 10%, #e4e4e4);
  font-family: Arial, sans-serif;
}

.input-import-file {
  width: 544px;
  vertical-align: middle;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5em;
  height: 36px;
  border-color: #bebebe;
  border-radius: 4px;
  box-shadow: inset 0 0 0.5em #bebebe;
  color: #333333;
  justify-content: space-between;

  input {
      border: 0;
      box-shadow: none !important;
      width: 100% !important;
  }

  button {
      border: 0;
      box-shadow: none;
      background: none;
      padding: 0;

    :hover{
      border: 0;
      box-shadow: none;
      background: none;
    }

    .clear-button {
      color: #bebebe;
    }
  }
}
