.bottom-line {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 8px;
}

.react-table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  width: fit-content;

  .react-table {
    margin-top: 16px;

    th {
      padding-right: 48px;
    }

    .proceed {
      padding: 8px 16px;
      border-radius: 4px;
      border-top: #3A95BC 1px solid;
      border-right: #3A95BC 1px solid;
      border-left: #3A95BC 1px solid;
      border-bottom: #3A95BC 1px solid;
      color: #fff;
      text-shadow: 0px 0px 0.1em #333;
      background: #3A95BC linear-gradient(to bottom, #5cabcd, #49a1c7 10%, #3A95BC);

      &:hover {
        background-image: none;
      }
    }

    a {
      color: #FFF;
      text-shadow: 0 0 0.1em #333;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
