.admin-buq {

    .admin-buq-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-left: 0px;
        margin-right: 0px;
    }

      .admin-buq-main {
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .page-responsive {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        margin: 1em;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75);
        border: 0;
        background: #ffffff;
        padding: 1em 2em;

        .breadcrumb {
          padding-left: 0;
          padding-top: 0;
          font-size: 14px;
        }
    }

    .admin-buq-page-title {
        border-bottom: #bebebe 1px solid;
        padding: 3.2px 0em;
        margin-bottom: 1em;
    }

    .admin-buq-navigation {
        border-bottom: #D9D9D9 1px solid;
        margin-bottom: 1em;
        list-style: none;
        display: flex;
        padding-left: 0;

        .admin-buq-link {
            background-color: #E4E4E4;
            padding: 10px 15px;
            border-radius: 4px 4px 0 0;
            margin-right: 2px;
            cursor: pointer;
        }

        .admin-buq-link.active {
            background-color: #FFFFFF;
            border: #D9D9D9 1px solid;
            border-bottom: none;
            color: $link-color;
        }
    }

    .react-table-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: auto;
    }

    .admin-buq-table-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0 10px;
    }

    .admin-buq-table-header {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        width: 100%;
    }

    .admin-buq-table-add-button {
        margin-right: 5px;
        margin-left: auto;
    }
}

.modal-open {
    overflow: auto;
}
