.admin-data-export {
    flex: 1 auto;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 16px;
    }

    #header-wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      text-align: center;
      padding: 1rem 0;
      height: 24px;
    }

    .field-full-width {
      width: 544px;

      select {
        width: 544px;
        vertical-align: middle;
      }
    }

    .required label:after {
      color: #e32;
      content: " *";
      display:inline;
    }

    .page-for-export{
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      margin: 1em;
      box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75);
      border: 0;
      background: #ffffff;
      padding: 1em 2em;
    }
}

option:hover{background-color:yellow;}
